* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
}

.main-center {
    width: 560px;
    margin: 0 auto;
}

img {
    height: 92px;
    width: 272px;
}

.image-center {
    text-align: center;
}

form {
    text-align: center;

}